:root {
    --color-primary-color: #F1CDB3;
    --color-primary-light: #FDDCC4;

    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;

    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    position: fixed;
    z-index: -100;
    opacity: 0;
}


.header {

    /*width: 100vw;*/
    width: 100%;
    position: absolute;
    top: 0;
    padding: 30px 0;
    background-color: var(--color-light-xl);
}


.wrapper {
    /*width: 62.5%;*/
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    color: var(--color-dark-l);
    font-family: Georgia, sans-serif;
    font-size: 32px;
    letter-spacing: 0.12rem;
    line-height: 110%;
    font-weight: 400;
}

.logo__subtitle {
    margin-top: 10px;
    color: var(--color-dark-3xl);
    font-size: 13px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.08rem;
    line-height: 110%;
    text-align: center;
}

.menu {
    display: flex;
    width: 443px;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;

}

.list__item {
    cursor: pointer;
    display: flex;
    align-items: center;
}


.list__link {
    color: var(--color-dark-3xl);
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    text-decoration: none;
    border-bottom: solid 3px transparent;
}

.list__link:hover {
    border-bottom: solid 3px var(--color-primary-color);
}

.list__link_active {
    border-bottom: solid 3px var(--color-primary-color);
}

.list__link_disabled {
    color: var(--color-dark-l);
}


.main {
    /*width: 100vw;*/
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pets {
    width: 100%;
    padding-top: 120px;
    display: flex;
    background-color: var(--color-light-l);
);
}


.pets-content {
    padding-top: 80px;
    padding-bottom: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.pets-content__title {
    max-width: 400px;

    color: var(--color-dark-l);
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
}


.cards-content-wrapper {
    width: 100%;
    margin-top: 60px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cards-line1-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.cards-line2-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0 0 30px 0;
    background-color: var(--color-light-s);
    border-radius: 9px;

    margin-right: 40px;
}

.card:last-of-type{
    margin-right: 0;
}


.card:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}


.card__title {
    padding: 31px 0;

    font-family: Georgia, sans-serif;
    color: var(--color-dark-l);
    font-size: 20px;
    text-align: center;
    line-height: 110%;
    font-style: normal;
    font-weight: normal;

    letter-spacing: 0.06em;
}


.cards-btn-wrapper {
    display: flex;
    justify-content: center;
}

.card__btn {
    padding: 13px 43px;

    cursor: pointer;
    color: var(--color-dark-xl);
    outline: none;
    border: 2px solid var(--color-primary-color);
    box-sizing: border-box;
    border-radius: 100px;


    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.card__btn:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}


.navigation-wrapper {
    margin-top: 60px;
    width: 340px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginator {
    width: 52px;
    height: 52px;

    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 100px;

    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.paginator_active {
    color: var(--color-dark-3xl);
    background-color: var(--color-primary-color);
}


.paginator_normal {
    color: var(--color-dark-3xl);
    border: 2px solid var(--color-primary-color);
    background-color: transparent;
}

.paginator_normal:hover {
    background-color: var(--color-primary-light);
    border: none;
}

.paginator_inactive {
    color: var(--color-dark-s);
    border: 2px solid var(--color-dark-s);
    background-color: transparent;
}


/*Footer*/

.footer {
    /*width: 100vw;*/
    width: 100%;
    background: url("../../assets/images/header/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #58483A 0%, #262425 100%),
    #211F20;
);
}

.footer-content {
    padding-top: 35px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    padding-top: 22px;
    max-width: 279px;

    display: flex;
    flex-direction: column;
}


.footer-mail {
    cursor: pointer;
    margin-top: 40px;

    display: flex;
    align-items: center;
    text-decoration: none;
}


.footer-contacts__title {
    color: var(--color-light-xl);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}


.footer-mail__text {
    margin-left: 20px;

    color: var(--color-primary-color);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}


.footer-phone {
    cursor: pointer;
    margin-top: 40px;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-phone__text {
    margin-left: 20px;

    color: var(--color-primary-color);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}


.footer-location {
    padding-top: 22px;
    max-width: 302px;

    display: flex;
    flex-direction: column;
}

.footer-location__title {
    color: var(--color-light-xl);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.footer-boston {
    cursor: pointer;
    margin-top: 33px;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-boston__text {
    margin-left: 20px;

    color: var(--color-primary-color);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}


.footer-london {
    cursor: pointer;
    margin-top: 33px;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-london__text {
    margin-left: 20px;

    color: var(--color-primary-color);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 708px;
    }

    .pets-content {
        padding-top: 70px;
        padding-bottom: 76px;
    }

    .cards-content-wrapper {
        margin-top: 40px;
    }

    .cards-line1-wrapper {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .cards-line2-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .card:nth-child(odd) {
        margin-right: 40px;
    }

    .card-768{
        display: none;
    }

    .navigation-wrapper{
        margin-top: 10px;
    }




    .footer-content{
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
    }

    .footer-contacts {
        padding-top: 0;
        margin-right: 61px;
    }
    .footer-location {
        padding-top: 0;
    }

    .footer-img{
        margin-top: 60px;
        width: 300px;
        height: 315px;
    }
}














