:root {
    --color-primary-color: #F1CDB3;
    --color-primary-light: #FDDCC4;

    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;

    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    position: fixed;
    z-index: -100;
    opacity: 0;
}


.header {
    width: 100vw;
    position: absolute;
    top: 60px;
}


.wrapper {
    /*width: 62.5%;*/
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    color: var(--color-primary-color);
    font-family: Georgia, sans-serif;
    font-size: 32px;
    letter-spacing: 0.12rem;
    line-height: 110%;
    font-weight: 400;
}

.logo__subtitle {
    margin-top: 10px;
    color: var(--color-light-xl);
    font-size: 13px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.08rem;
    line-height: 110%;
    text-align: center;
}

.menu {
    display: flex;
    width: 443px;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;

}

.list__item {
    display: flex;
    align-items: center;
}

.list__link {
    cursor: pointer;
    color: var(--color-light-xl);
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    text-decoration: none;
    border-bottom: solid 3px transparent;
}

.list__link:hover {
    border-bottom: solid 3px var(--color-primary-color);
}

.list__link_active {
    border-bottom: solid 3px var(--color-primary-color);
}

.list__link_disabled {
    color: var(--color-dark-s);
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100%;
    padding-top: 180px;
    display: flex;
    background: url("../../assets/images/header/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #58483A 0%, #262425 100%),
    #211F20;
);
}

/*wrapper*/

.hero-content {
    display: flex;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 84px;
    padding-right: 30px;
}


.content-section__title {
    color: var(--color-light-xl);
    font-family: Georgia, sans-serif;
    font-size: 44px;
    line-height: 130%;
    max-width: 310px;
    font-weight: 400;
    padding-top: 1%;
}

.content-section__subtitle {
    font-family: Arial, sans-serif;
    margin-top: 42px;
    color: var(--color-dark-s);
    line-height: 160%;
    font-size: 15px;
}


.content-section__button {
    margin-top: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 206px;
    border-radius: 100px;
    padding: 15px 45px;
    background-color: var(--color-primary-color);
    font-size: 17px;
    font-family: Georgia, sans-serif;
    line-height: 130%;
    letter-spacing: 0.05rem;
    color: var(--color-dark-xl);
}

.content-section__button:hover {
    background-color: var(--color-primary-light);
}

.hero-content__img {
    /*width: 698px;*/
}


.about {
    width: 100%;
    /*padding-top: 180px;*/
    /*display: flex;*/
    background-color: var(--color-light-xl);
}

.about-content__img {
    margin-right: 120px;
}


.about-content {
    padding-top: 80px;
    padding-bottom: 100px;

    width: 100%;
    display: flex;
    justify-content: center;
}

.about-content-section__title {
    max-width: 330px;
    margin-top: 14px;

    color: var(--color-dark-l);
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about-content-section__subtitle {
    margin-top: 25px;
    max-width: 430px;

    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}


.pets {
    width: 100%;
    /*padding-top: 180px;*/
    /*display: flex;*/
    background-color: var(--color-light-l);
}

.pets-content {
    padding-top: 80px;
    padding-bottom: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pets-content__title {
    max-width: 400px;

    color: var(--color-dark-l);
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
}


.cards-content-wrapper {
    width: 100%;
    margin-top: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-wrapper {
    display: flex;
}


.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0 0 30px 0;
    background-color: var(--color-light-s);
    border-radius: 9px;

}

.card:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}


.card:nth-child(2) {
    margin: 0 90px;
}


.card__img {

}


.card__title {
    padding: 31px 0;

    font-family: Georgia, sans-serif;
    color: var(--color-dark-l);
    font-size: 20px;
    text-align: center;
    line-height: 110%;
    font-style: normal;
    font-weight: normal;

    letter-spacing: 0.06em;
}


.cards-btn-wrapper {
    display: flex;
    justify-content: center;
}

.card__btn {
    padding: 13px 43px;

    cursor: pointer;
    color: var(--color-dark-xl);
    outline: none;
    border: 2px solid var(--color-primary-color);
    box-sizing: border-box;
    border-radius: 100px;


    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.card__btn:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}


.cards-wrapper__btn-left {
    padding: 15px;

    outline: none;
    cursor: pointer;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    color: var(--color-dark-3xl);
    font-weight: 900;
}

.cards-wrapper__btn-left:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}


.cards-wrapper__btn-right {
    cursor: pointer;
    padding: 15px;

    outline: none;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    color: var(--color-dark-3xl);
    font-weight: 900;
}

.cards-wrapper__btn-right:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.pets__btn {
    margin-top: 60px;
    padding: 15px 45px;


    cursor: pointer;
    background-color: var(--color-primary-color);
    color: var(--color-dark-xl);
    border-radius: 100px;
    border: none;
    outline: none;

    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.pets__btn:hover {
    background-color: var(--color-primary-light);
}


.help {
    width: 100%;
    background-color: var(--color-light-xl);
}


.help-content {
    width: 100%;
    padding: 80px 87px 100px 87px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.help__title {
    max-width: 310px;

    text-align: center;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);

}


.help-list-wrapper {
    margin-top: 60px;
    margin-left: 87px;
    margin-right: 87px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-list1 {
    width: 100%;

    display: flex;
    justify-content: space-between;
    list-style: none;
}

.help-list2 {
    margin-top: 55px;
    padding-left: 84px;
    padding-right: 84px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    list-style: none;
}


.help-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-list-item h4 {
    margin-top: 31px;

    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l)
}


.donation {
    width: 100%;
    background-color: var(--color-light-l);
}


.donation-content {
    width: 100%;
    padding-top: 82px;
    padding-bottom: 102px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-content__img {
    margin-right: 30px;
}

.information__title {
    /*padding-top: 2px;*/
    max-width: 300px;

    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.information__subtitle {
    margin: 21px 0 20px 0;

    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.credit-card {
    cursor: pointer;
    max-width: 349px;
    padding: 10px 15px;
    border-radius: 9px;

    display: flex;
    background-color: var(--color-primary-color);
    text-decoration: none;
}

.credit-card:hover {
    background-color: var(--color-primary-light);
}


.credit-card__img {
    margin-right: 14px;
}

.credit-card__number {
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l)
}


.information__text {
    max-width: 380px;
    margin-top: 20.5px;

    color: var(--color-dark-m);
    font-family: Arial, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
}


.footer {
    width: 100vw;
    background: url("../../assets/images/header/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #58483A 0%, #262425 100%),
    #211F20;
);
}

.footer-content {
    padding-top: 35px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    padding-top: 22px;
    max-width: 279px;

    display: flex;
    flex-direction: column;
}


.footer-mail {
    cursor: pointer;
    margin-top: 40px;

    display: flex;
    align-items: center;
    text-decoration: none;
}


.footer-contacts__title {
    color: var(--color-light-xl);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}


.footer-mail__text {
    margin-left: 20px;

    color: var(--color-primary-color);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}


.footer-phone {
    cursor: pointer;
    margin-top: 40px;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-phone__text {
    margin-left: 20px;

    color: var(--color-primary-color);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}


.footer-location {
    padding-top: 22px;
    max-width: 302px;

    display: flex;
    flex-direction: column;
}

.footer-location__title {
    color: var(--color-light-xl);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.footer-boston {
    cursor: pointer;
    margin-top: 33px;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-boston__text {
    margin-left: 20px;

    color: var(--color-primary-color);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}


.footer-london {
    cursor: pointer;
    margin-top: 33px;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-london__text {
    margin-left: 20px;

    color: var(--color-primary-color);
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}















